#------------------------------------------------------ SERVER CONFIGURATION ---------------------------------------------------------
server:
  port: ${SERVER_PORT:3232}
  shutdown: immediate

spring:
  application:
    name: reactive-ollama-api
  #------------------------------------------------------ RSOCKET CONFIGURATION ---------------------------------------------------------
  rsocket:
    server:
      transport: websocket
      mapping-path: /rsocket
  #------------------------------------------------------ DATASOURCE CONFIGURATION ---------------------------------------------------------
  r2dbc:
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    url: r2dbc:postgresql://${DB_HOST:}:${DB_PORT:}/${DB_NAME:}
    pool:
      enabled: true
      initial-size: 0
      max-size: ${DB_MAX_CONNECTION_POOL_SIZE:5}
      max-idle-time: 30s
      validation-query: SELECT 1
  #------------------------------------------------------ LIQUIBASE CONFIGURATION ----------------------------------------------------
  liquibase:
    enabled: true
    url: jdbc:postgresql://${DB_HOST:}:${DB_PORT:}/${DB_NAME:}
    user: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    change-log: classpath:/db/changelog/db.changelog-main.xml
    show-summary-output: all
  #------------------------------------------------------ AI CONFIGURATION ---------------------------------------------------------
  ai:
    openai:
      base-url: ${AI_OPENAI_BASE_URL:http://localhost:11434}
      api-key: ${AI_OPENAI_API_KEY:}
      chat:
        options:
          model: ${AI_OPENAI_CHAT_MODEL:gpt-oss:120b-cloud}
          temperature: ${AI_OPENAI_CHAT_TEMPERATURE:0}
          output-modalities: ${AI_OPENAI_CHAT_OUTPUT_MODALITIES:text}
          user: ${spring.application.name}
    ollama:
      base-url: ${AI_OLLAMA_BASE_URL:http://localhost:11434}
    replicate:
      base-url: ${AI_REPLICATE_BASE_URL:https://api.replicate.com}
      webhook-base-url: ${AI_REPLICATE_WEBHOOK_BASE_URL:}
      api-key: ${AI_REPLICATE_API_KEY:}
      model: ${AI_REPLICATE_MODEL:bytedance/seedream-4}
#------------------------------------------------------ SWAGGER CONFIGURATION ---------------------------------------------------------
springdoc:
  api-docs:
    enabled: ${SWAGGER_ENABLED:false}
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:false}
    path: /swagger

logging:
  level:
    org:
      springframework:
        messaging:
          rsocket: DEBUG
    io:
      rsocket: DEBUG